<div class="admin-functies">
    <!-- form om interesse toe te voegen -->
    <div class="alles-admin">

        <h2 class="page-title2">Interesses</h2>
        <div class="clearer"></div>
        <ul class="tags">
        </ul>



            <div class="errorInteresse"></div>
            <div>
                <input class="match-input" autocapitalize="on" type="text" name="interesse" placeholder="Interesse"
                       autocomplete="interesse" id="query-input"/>
            </div>
            <div>
                <button class="match-button" id="insert-query-interesse">Toevoegen</button>
            </div>


        <!-- Select interesses -->
        <!-- <button id="show-interesses">Klik hier om alle interesses te tonen</button> -->


    </div>
    <div class="alles-admin">

        <h2 class="page-title2">Bestemmingen</h2>
        <div class="clearer"></div>
        <!-- form om bestemming toe te voegen -->

            <ul class="bestemmingen"></ul>

            <div class="errorBestemming"></div>
            <div>
                <input class="match-input" id="query-input-bestemming" type="text" name="bestemming"
                       placeholder="bestemming" autocomplete="bestemming"/>
            </div>
            <div>
                <button class="match-button" id="insert-button-bestemming">Toevoegen</button>
            </div>



    </div>
    <div class="alles-admin">

        <h2 class="page-title2">Admin maken</h2>
        <div class="clearer"></div>


        <div class="errorAdmin"></div>
        <div>
            <input id="query-input-admin" class="match-input" type="text" name="Admingebruiker"
                   placeholder="Admin gebruiker" autocomplete="admin"/>
        </div>
        <div>
            <button class="match-button" id="insert-button-admin">Toevoegen</button>
        </div>

    </div>
    <div class="alles-admin">

        <h2 class="page-title2">Verwijder gebruiker</h2>
        <div class="clearer"></div>


            <div class="errorGebruiker"></div>
            <div>
                <input id="query-input-verwijder" class="match-input" type="text" name="verwijder"
                       placeholder="Verwijder gebruiker" autocomplete="gebruiker"/>
            </div>
            <div>
                <button class="match-button" id="insert-button-verwijder">Verwijderen</button>
            </div>

    </div>
    <!-- select bestemmingen -->
</div>
<div class="admin-stats">
    <div class="stat-box">
        <h2 class="page-title2">Website Statistieken</h2>
        <div class="clearer"></div>
        <div class="users">
            <p class="aantalGebruikers">Aantal gebruikers: </p>
        </div>
        <div class="destination">
            <p class="aantalDestinations">Aantal bestemmingen: </p>
        </div>
        <div class="interests">
            <p class="aantalInterests">Aantal interesses: </p>
        </div>
        <div class="matches">
            <p class="aantalMatches">Aantal matches: </p>
        </div>
    </div>
</div>

<script>


</script>

