
<header>


        <div class="header2">
        <a href="" data-controller="Homepage"><img id="logo" src="assets/img/tagalong%20logo9.png" height="70" width="175"/></a>
        <a href="" data-controller="Homepage"><img id="corendon-credit" src="assets/img/corendon-credit.png" height="30" width="100"/></a>
        <nav>
            <ul>

                <li><a href="" data-controller="Homepage" id="Homepage">Home</a></li>
                <li><a href="" data-controller="Faq" id="Faq">Contact</a></li>
                <li><a href="" data-controller="Profiel" id="Profiel">Profiel</a></li>
                <li><a href="" data-controller="Registreer" id="Registreer">Registreren</a></li>
                <li><a href="" data-controller="AdminHomePage" id="AdminHomePage">Admin</a></li>
                <li><a href="" data-controller="Chat" id="Chat">Chat</a></li>
                <li><a href="" data-controller="LoginPage" id="LoginPage">Login</a></li>
                <li><a href="" onclick="handleLogout();" id="Uitlog">Log uit</a></li>
                <li><a href="" data-controller="Help" id="Help">Help</a></li>

            </ul>
        </nav>
    </div>
</header>

<script>


</script>