<div class="question-holder">
<h2>Gebruikershandleiding</h2>
    <p>
        Welkom bij TagAlong, we zijn blij dat u gebruik wilt maken van ons product.<br>
        Door deze handleiding te volgen heeft u misschien straks wel een leuke match!<br><br>
        <b>Een account maken:</b><br>
        Een account is essentieel om gebruik te kunnen maken van de website, zonder een account kunt u helaas niet matchen.<br>
        De volgende stappen zijn benodigd om een account te maken:<br>
        -	Aan de bovenkant van de website staat een “Registreren” knop, klik op deze knop.<br>
        -	Vul de benodigde gegevens in en klik op de knop onderaan de pagina.<br>
        -	Hierna kunt u via de login knop boven op de pagina inloggen op de website.<br>
        Als u al deze stappen heeft voltooid heeft u succesvol een account gemaakt en ingelogd.<br><br>
        <b>Uw profiel inrichten:</b><br>
        Het profiel wordt gebruikt om een match mee te maken.<br>
        Op uw profiel voegt u de tags toe die bij u passen, dan wordt u gematched met andere mensen die dezelfde tags op hun profiel hebben.<br>
        De volgende stappen zijn benodigd om tags toe te voegen:<br>
          -	Onder de kop “Tags toevoegen” kunt op de tags klikken die daar in de lijst staan, daarmee worden ze toegevoegd aan uw profiel.<br>
          -	Als u op tags klikt onder de kop “Mijn tags” dan worden de tags verwijderd van uw profiel, dit is belangrijk als u perongeluk een verkeerde tag toevoegd.<br>
        Als u deze stappen heeft voltooid heeft u succesvol uw profiel ingericht.<br><br>
        <b>Matchen:</b><br>
        Als u binnenkort op reis gaat en u klaar bent om te matchen dan kunt u eindelijk echt gebruik maken van de website!<br>
        De volgende stappen zijn benodigd om te matchen:<br>
        -	U moet de velden invullen met de correcte gegevens.<br>
        -	Daarna ziet u een aantal potentiele matches, hier kunt u de persoon waarmee u wilt matchen aanklikken, is er op dat moment geen match beschikbaar wordt u weer doorgelinkt naar uw profiel en kunt u het later nog een keer proberen.<br>
        Als u deze stappen heeft voltooid heeft u succesvol uw match gemaakt.<br><br>
        <b>Chat:</b><br>
        De chat is benodigd om een locatie en tijd af te spreken met uw match, ook kunt u hier elkaar al wat beter leren kennen voor de tijd zelf.<br>
        De volgende stappen zijn benodigd om de chat te kunnen gebruiken:<br>
        -	Eerst zult u een match moeten hebben, zonder een match is er geen mogelijkheid om te chatten.<br>
        -	Als u een match heeft kunt u deze match vinden op uw profiel, als u hier klikt op uw match dan zal u doorgelinkt worden naar de chat pagina waar u kunt chatten met uw match.<br>
        Als u deze stappen heeft voltooid kunt u chatten.<br>
    </p>
</div>