<div class="login">
    <h1>Welcome bij TagAlong matching!</h1>

    <p>Log in met uw inloggegevens</p>


    <form method="post" class="login-form">
        <div class="error"></div>
        <div>
            <input type="text" name="username" placeholder="Gebruikersnaam" autocomplete="username" />
        </div>
        <div>
            <input type="password" name="password" placeholder="Wachtwoord" autocomplete="password" />
        </div>

                <a href="" data-controller="Homepage"><button type="button" class="annuleerbutton">Annuleer</button></a>
                <span id="wachtwoord-vergeten"><a href="" data-controller="Wachtwoordvergeten">Wachtwoord vergeten</a></span>
           
            <button class="login-button-test">Login</button>
    </form>
</div>